.text-bottom {
    position: absolute;
    bottom: 0;
}

.preview {
    line-height: 1px;

    transition: all 100ms;
    -webkit-transition: all 100ms
}

// font size for preview
@for $i from map-get($preview-size, 'min') through map-get($preview-size, 'max') {
    .text-#{$i} {
        font-size: $i + px;
    }
}
