<template>
    <img class="ad col-sm-offset-2 col-sm-8 text-center" v-bind:src="url"/>
</template>

<script lang="coffee">
    # libs
    jQuery = $ = require('jquery')
    getQueryParams = require('../../lib/get-query-params');

    module.exports =
        el: ->
            '.ad'

        props: ['ad']

        data: ->
            id:
                current: 0
                previous: 0
            src: '/ad/?r='

        ready: ->
            # get previous ad src via jQuery
            src = $(".#{@$el.classList[0]}:eq(-2)").attr 'src'

            # get src params in int
            @id.previous = parseInt(getQueryParams(src).r) if src?

            # randomize current id until it isn't the previous ad id
            loop
                @id.current = @randomize()
                break unless @id.current == @id.previous

        methods:
            randomize: ->
                # randomize number
                Math.floor Math.random()*1000

        computed:
            url: ->
                @src + @id.current

</script>
