<template>
    <div id="catalogue">
        <nav class="navbar navbar-bottom navbar-light bg-faded">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav">
                &#9776;
            </button>
            <div id="nav" class="collapse navbar-toggleable-xs">
                <span class="navbar-brand" href="#">Products</span>
                <div class="nav navbar-nav pull-right">
                    <div class="form-inline navbar-form" data-toggle="buttons">
                        <label for="sort">Sort</label>
                        <select id="field" class="form-control" v-model="sort.field">
                            <option value="id" selected>id</option>
                            <option value="size">size</option>
                            <option value="price">price</option>
                        </select>
                        <a href="#" v-on:click="sortOrder"><i class="fa" v-bind:class="sort.class"></i></a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row">
            <!-- Loop through products in catalogue -->
            <product v-for="(index, product) in catalogue | orderBy sort.field sort.order"
                     v-bind:product="product"
                     v-bind:index="index"
                     track-by="id">
            </product>

        </div>
    </div>
</template>

<script lang="coffee">
    # libs
    jQuery = $ = require('jquery')

    # components
    product = require('./product.vue')

    module.exports =
        el: ->
            '#catalogue'

        components:
            product: product

        props: ['catalogue']

        data: ->
            api: '/api/products'
            products: []
            preload: []
            limit: 10
            skip: 0
            sort:
                field: 'id'
                order: 1
                class: 'fa-chevron-up'

        ready: ->
            # append first batch on ready
            @append()

        methods:
            fetch: ->
                self = @
                # emit ready false event
                @$emit 'ready', false

                # ajax settings
                settings =
                    url: @api
                    data:
                        limit: @limit
                        skip: @skip
                        sort: @sort.field
                    dataType: 'text'
                    success: (data) ->
                        # split string into array for each newline
                        self.preload = data.match(/[^\r\n]+/g);

                        # loop through array push each parsed JSON into products
                        self.products.push JSON.parse(product) for product in self.preload

                        # prepare skip for next batch
                        self.skip += self.limit

                        # emit ready true event
                        self.$emit 'ready', true
                        # emit preloaded event
                        self.$emit 'preloaded'
                    error: (data) ->
                        # emit ready true event
                        self.$emit 'ready', true
                        # emit failed event
                        self.$emit 'failed'

                # call product api
                $.ajax settings

            append: ->
                # products to catalogue
                @catalogue = @products

                # emit appended event
                @$emit 'appended'

            isComplete: ->
                # check if catalogue return nothing or less than the requested limit
                @preload.length == 0 || @products.length % @limit != 0

            sortOrder: ->
                # reverse order
                @sort.order *= -1
                # reverse chevron icon
                @sort.class = if @sort.order == 1 then 'fa-chevron-up' else 'fa-chevron-down'

        events:
            appended: ->
                # on appended fetch next batch
                @fetch()

</script>
