<template>
    <ad v-if="adsThreshold"></ad>

    <div class="col-sm-6 col-md-3 product">
        <div class="card">
            <div class="card-img jumbotron jumbotron-fluid text-center">
                <div class="container">
                    <p class="preview" v-bind:class="['text-'+product.size]">{{ product.face }}</p>

                </div>
            </div>
            <nav class="navbar navbar-light bg-faded">
                <div id="nav">
                    <a class="navbar-brand" href="#"></a>
                    <ul class="nav navbar-nav">
                        <fieldset class="form-inline navbar-form pull-right">
                            <label for="size">Size</label>

                            <select id="size" class="form-control" v-model="product.size">
                                <option v-for="i in range" v-bind:value="i + size.min">{{ i + size.min }}</option>
                            </select>
                        </fieldset>
                    </ul>
                </div>
            </nav>
            <div class="card-block">
                <h4 class="card-title">{{ product.face }} <small class="pull-right">{{ formattedPrice }}</small></h4>
                <p class="card-text">{{ product.id }}</p>
                <a href="#" class="btn btn-primary">Buy</a>
                <p class="card-text"><small class="text-muted">{{ relativeDate }}</small></p>
            </div>
        </div>
    </div>
</template>

<script lang="coffee">
    # libs
    relativeDate = require('../../lib/get-relative-date')
    formattedPrice = require('../../lib/get-formatted-price')

    # components
    ad = require('./advertisement.vue')

    module.exports =
        el: ->
            '.product'

        components:
            ad: ad

        props: ['index', 'product']

        data: ->
            adInterval: 20
            size:
                min: 12
                max: 40

        computed:
            adsThreshold: ->
                # not first and after every ad interval
                @index != 0 and @index % @adInterval == 0

            range: ->
                # a range between minimum size and maximum size
                @size.max - @size.min + 1

            formattedPrice: ->
                # format prices
                formattedPrice(@product.price)

            relativeDate: ->
                # relative dates
                relativeDate(@product.date, 'long')

</script>
