<template>
    <header id="app" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Discount Ascii Warehouse</h1>

                <p>Here you're sure to find a bargain on some of the finest ascii available to purchase. Be sure to peruse our selection of ascii faces in an exciting range of sizes and prices.</p>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <h2>Catalogue</h2>

            <catalogue v-infinite-scroll="append()" unbind="isComplete()"></catalogue>

        </div>
    </section>

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery|| document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://vuejs.org/js/vue.min.js"></script>
    <script>window.Vue|| document.write('<script src="js/vue.min.js"><\/script>')</script>
</template>


<script lang="coffee">
    # components
    catalogue = require('./components/catalogue.vue')

    # start new Vuejs app
    module.exports =
        el: ->
            '#app'
            
        components:
            catalogue: catalogue

</script>
